/*==========================================
    Theme Fonts
==========================================*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Exo:400,400i,500,600,700');

/**
*******************************************
* Reset CSS start
*******************************************
**/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

* {
    outline: none!important
}

.fix {
    overflow: hidden;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.display-table {
    height: 100%;
    width: 100%;
    display: table;
}

.display-table-cell {
    vertical-align: middle;
    display: table-cell;
}

a:hover,
a:focus,
a:active {
    color: inherit;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    color: #373737;
}

body {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #616161;
    letter-spacing: 0.8px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

::-moz-selection {
    background-color: #fab702;
    color: #fff;
}

::selection {
    background-color: #fab702;
    color: #fff;
}

/**
*******************************************
* Reset CSS End
*******************************************
**/
