/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
    background:lightgreen;
    margin: 0;
}
p,ul li,ol li{
    margin:0;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Muli', sans-serif;
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3layouts_mail_grid_left2 a,.w3agile_similar_post_left ul li a,.w3agile_similar_post_left h4 a,.w3l_categories ul li a,.agileits_recent_posts_gridr h4 a,.agileits_recent_posts_gridr ul li a,.w3agile_blog_left_grid_r ul li a,.w3ls_choose_us_right ul li a,.agileinfo_services_grid1 h4,.agileinfo_services_grid1_pos,.w3agile_footer_grid_left a,.agileinfo_footer_bot_right p a{
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
img {
    width: 100%;
}
#img{
    width: 80%;
}
/*-- banner --*/
.banner{
    background:url(../../images/5.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:700px;
        position: relative;
}

/*-- nav --*/
.w3_agile_header {
    padding:2em 10em 0 8em;
                }
.w3_agile_header_left{
    float:left;
}
.agile_header_right{
    float:right;
    margin-top: .7em;
}
.agile_header_right ul li{
    display:block;
    font-weight:600;
    color:#fff;
    display:inline-block;
}
.agile_header_right ul li i{
    padding-right:1.5em;
    color:#0accff;
}
.agile_header_right ul li a{
    color:#fff;
    text-decoration:none;
}
.agile_header_right ul li a:hover{
    color:#0accff;
}
.agile_header_right ul li a:before,.agile_header_right ul li a:after{
    display:none;
}
.agile_header_right ul li:last-child{
    margin-left:3em;
}
/*.w3_agileits_logo {
    float: none;
    text-align: center;
}*/
/*.w3_agileits_logo h1 a{
    font-size: 1.4em;
    color: #f16121;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
   font-family: 'Muli', sans-serif;
    letter-spacing:3px;
}
.w3_agileits_logo h1 a span{
    display: block;
    font-size: .3em;
    font-weight: 600;
    color:#0accff;
    position: relative;
    letter-spacing: 10px;
}
*/
.agileits_w3layouts_banner_info {
   width: 70%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    right: 2%;
    top: 5%;
}
.agileits_w3layouts_banner_info h2{
    font-size:2em;
    color:#fff;
    text-transform:capitalize;
    line-height:2em;
}
.agileits_w3layouts_banner_info p{
    color:#fff;
    line-height:2em;
    font-size: 1.5em;
}
.agileits_w3layouts_banner_info form{
    width: 42%;
    margin:0.6% auto 0;
    float: right;
}

.w3_agileits_logo h1 a span {
     font-size: 16px;
    text-align: center;
    color: #fff;
    border: 2px solid #bfdb39;
    width: 28%;
    margin: 0 auto;
    padding: 0.5em;
    background: #bfdb39;
}
/*-- nav --*/
.w3_agile_phone{
    float:right;
}
.w3_agile_phone p{
    color:#fff;
    font-weight:600;
}
.w3_agile_phone p i{
    padding-right:0.2em;
}
/*-- menu --*/
.mobile-nav-button {
  position: fixed;
    margin: 2.1em 0em 0;
    left: 2%;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgb(252, 248, 246);
}
.mobile-nav-button .mobile-nav-button__line {
    width: 30px;
    height: 2px;
    background: yellow;
    position: relative;
    transition: 1s ease;
    margin: .6em auto;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.5em auto; }

.mobile-nav-button .mobile-nav-button__line--1 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 13px;
    position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 { 
    display: none;  
}

.mobile-nav-button .mobile-nav-button__line--3 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    top: 13px;
    position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
    left:10%;
}

.mobile-menu {
    display: block;
     width: 18%;
    right: -20%;
    height: 100%;
    background: green;
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
}

.mobile-menu ul {
    position: relative;
    top: 20%;
    padding: 0;
}

.mobile-menu ul li { 
    list-style: none;
    margin-bottom: 2em;
    display: block;
}
.mobile-menu ul li a {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: yellow;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.open > ul.dropdown-menu.agile_short_dropdown{
    display: block;
    transform: none !important;
    min-width: 65%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    left: 18%;
}
.open > ul.dropdown-menu.agile_short_dropdown li{
    margin:0 !important;
}
ul.dropdown-menu.agile_short_dropdown > li > a:hover{
    background: none;
}
.mobile-menu ul li a:after {
    content: '';
    background:yellow;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: -1;
    transition: 0.4s ease;
}

.mobile-menu ul li a:hover,.mobile-menu ul li.active a { 
    color: green; 
}

.mobile-menu ul li a:hover:after,.mobile-menu ul li.active a:after { 
    right: 0; 
}
li.dropdown.act a.w3_icons_act {
    background: green;
    color: #fff;
}
.mobile-menu img {
    position: absolute;
    width: 150px;
    display: block;
    left: 50%;
    top: 3rem;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    padding: 0;
    text-align: center;
}

.mobile-menu--open {
    opacity: 1;
    left:0%;
}
.dropdown.active.open a  ul.dropdown-menu.agile_short_dropdown li a.w3_icon_1:after{
    background:none !important;
}

/*-- //menu --*/
.w3l_banner_info{
    width: 80%;
    margin: 13em auto 0;
}
.wthree_banner_info_grid h3 {
   font-size: 4em;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 0.2em 0;
}


.wthree_banner_info_grid p {
    color: #fff;
    width: 75%;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 2px;
}
.wthree_banner_info_grid a {
    font-size: 1.5em;
    padding: 1em;
    background: #fff;
    margin: 2em 0;
}
/*-- //banner --*/
/*-- about --*/
.about,.services,.testimonial,.contact,.w3-food-menu,.gallery,.w3-orders,.team{
    padding:5em 0;
}
div#about {
    background-color:#fff;
}
.w3l-about-left h2 {
    color:#f16121;
        letter-spacing: 2px;
}
.about-agileits-title h3,.agile-heading h3,.agileits-title h3,.w3-contact-map h3,.test-heading h3,.w3-menu-head h3,.agileits-title-left h3,.w3-order-heading h3,.w3-team-title h3{
    font-size:3em;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align:center;
    margin-bottom:25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-agileits-title h3 span,.agile-heading h3 span,.agileits-title h3 span,.w3-contact-map h3 span,.test-heading h3 span,.w3-menu-head h3 span,.agileits-title-left h3 span,.w3-order-heading h3 span,.w3-team-title h3 span{
    color: #f16121;
}
.w3l-about-left h5{
    font-size: .9em;
    color: #212121;
    text-decoration: none;
    margin: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.8em;
    letter-spacing: 2px;
}
.w3l-about-left p{
    color:#212121;
    font-size:.9em;
    margin:0;
    line-height:1.8em;
    letter-spacing: 1px;
}
.w3l-about-left p span{
    margin:1em 0 0 0;
    display:block;
}
.w3l-about-img img {
    width: 100%;
}


/*-- about --*/
/*-- menu --*/
.w3-menu1-left h4,.w3-menu1-left1 h4,.w3-menu3-left3 h4 {
    color: #fff;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 200;
}
.w3-menu-grids {
    margin: 4em 0;
}
div#menu {
    padding: 1em 0 0em 0;
}
.w3-menu1-left h3,.w3-menu1-left1 h3,.w3-menu3-left3 h3{
    color: #fff;
    font-size: 2em;
    margin: 1em 0;
    font-weight: 600;
}
.w3-menu1-left p,.w3-menu1-left1 p,.w3-menu3-left3 p {
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-style: italic;
    color:#fff;
}
.w3-menu1-left, .w3-menu1-left1, .w3-menu3-left3 {
    background: #ddd;
    padding: 6em 10em 6em 3em;
}
.w3-menu-grid1,.w3-menu2-grid2,.w3-menu3-grid3 {
    position: relative;
}
.w3-position-menu-img {
    position: absolute;
    bottom: 3%;
    right:-5%;
    top:-17%;
    height: 500px;
    width: 600px;
    float: right;
}
.w3-position-menu-img1 {
    position: absolute;
    bottom: 10%;
    top: -17%;
    left: 5%;
    float: left;
    /*height: -5%;*/
    height: 500px;
    width: 65%;
    }
.w3-position-menu-img2 {
    position: absolute;
    bottom: 15%;
    right:-5%;
    top:-17%;
    height: 500px;
    width: 600px;
    float: right;
}
.w3-menu2-grid2,.w3-menu3-grid3  {
    margin-top: 7em;
}
.w3-menu1-left1 {
    padding: 6em 0em 6em 18em;
}
.w3-menu1-left {
    background: #f16121;
}
.w3-menu1-left1 {
    background: #bfdb39;
}
.w3-menu3-left3 {
    background: #f16121;
}
sup {
    font-size: 2em;
}
/*-- menu --*/
/*-- gallery --*/
#img{
    width: 400px;
}
/*-- imghvr-hinge --*/
[class^='imghvr-'],
[class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0px;
    max-width: 100%;
    background-color:#f16121;
    color:#212121;
    overflow: hidden;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%;
}
[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
    background-color:yellow;
    padding:5.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color:#212121;
    text-align: center;
} 
[class^='imghvr-'] .agile-figcaption h4{
    font-size: 1.6em;
    margin-bottom: .5em;
    font-weight: 600;
    text-transform: capitalize;
}
[class^='imghvr-'] .agile-figcaption p{
    line-height: 2em;
    color: #f5f5f5;
    letter-spacing: 2px;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
    -webkit-perspective: 50em;
    perspective: 50em;
}
[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
    opacity: 0;
    z-index: 1;
}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
    opacity: 0;
}
[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    -o-transition-delay: 0.21s;
    -ms-transition-delay: 0.21s;
    transition-delay: 0.21s;
}
 
/*-- imghvr-hinge-right -- */
.imghvr-hinge-right img {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.imghvr-hinge-right .agile-figcaption {
    -webkit-transform: rotateY(90deg);
    -moz-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.agile-figcaption i.fa.fa-cutlery {
    font-size: 2em;
    color: #f16121;
}
.imghvr-hinge-right:hover > img {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}
.imghvr-hinge-right:hover .agile-figcaption {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
} 
/*-- //imghvr-hinge --*/ 
/*-- //gallery --*/  
/*-- services --*/
.main-w3l {
    width:100%;
}
.w3layouts-main {
    width: 40%;
    margin: 0 auto;
    float: left;
    text-align: left;
    padding: 3.7em 4em;
    background: rgba(19, 18, 18, 0.72);
}
.banner-right-agile {
    background: rgb(191, 219, 57);
    width: 50%;
    padding: 32px 53px;
    margin: 0 auto;
    float: left;
}
.banner-right-agile select {
    border: 1px solid rgb(191, 219, 57);
    color: #5A5A5A;
    display: block;
    font-size: 14px;
    padding: 10px;
    font-weight: normal;
    width: 100%;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all.4s;
    -moz-transition: all.4s;
    -ms-transition: all.4s;
    -o-transition: all.4s;
    transition: all.4s;
}
.banner-right-agile form input[type="text"], input[type="date"], input[type="password"] {
    border:1px solid rgb(191, 219, 57);
    outline: none;
    padding: 10px;
    width: 100%;
    color: #5A5A5A;
    font-size: 14px;
    margin-bottom: 22px;
    font-family: 'Play', sans-serif;
}
.banner-right-agile input[type="submit"] {
    outline: none;
    border: none;
    width: 45%;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 12px 0px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 0.9em;
    letter-spacing: 1px;
    font-family: 'Play', sans-serif;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.banner-right-agile input[type="submit"]:hover {
    color: #f16121;
}
.main-row label {
    display: block;
}
label.input{
    margin-bottom: 22px;
}
.w3layouts-main h6 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.9em;
    letter-spacing: 1px;
}
.w3layouts-main p {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-top: 1.5em;
    font-weight: 100;
}
.grid-icons ul li {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 1em 0em;
    font-family: 'Play', sans-serif;
}
.grid-icons i {
    font-size: 1.7em;
    padding-right: 1em;
    color: rgba(9, 211, 230, 0.95);
}
.grid-icons {
    margin-top: 2em;
}
.banner-text h3 {
    margin-bottom: 0.5em;
    text-transform: capitalize;
}
option {
    background: #f16121;
    color: #fff;
}
/*--//main--*/

.services-icon {
    margin: 0 0 2em;
}
.services-icon:nth-child(3) {
    margin: 0;
}
.services-icon:hover div.services-icon-text h4{
    color: #cddc39;
}
.w3-agile-services-right h5{
    color:#000000;
    font-size:1em;
    line-height:1.8em;
    font-weight:600;
    margin:0 0 1em 0;
}
.w3-agile-services-right p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.w3-agile-services-right p span{
    display:block;
    margin:1em 0 0 0;
}
.serviceimg img {
    margin: 1em 0;
}
/*-- //services --*/
/*-- team --*/
.team-left {
    float: left;
    width: 33%;
    background: #bfdb39;
    text-align: center; 
    border: 2px solid #bfdb39;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
} 
.team-right {
     float: right;
    width: 67%;
    padding: 2.5em 2em;
    -webkit-box-shadow: 1px 2px 6px 0px #3a3838;
    -moz-box-shadow: 1px 2px 6px 0px #f16121;
    box-shadow: 1px 2px 6px 0px #5d5b5b;
}
.team-right h4 {
    font-size: 1.5em;
    color: #333; 
}
.team-right p {
    margin: 1em 0;
}
.team-w3lsgrids:hover .team-left {
    background: none;
} 
.team-info.team-row2 {
    margin-top: 3.5em;
}
/*-- social-icon --*/
.social-button {
    display: inline-block;
    background-color: #fff;
    width: 32px;
    height: 32px;
    margin: 0 3px;
    line-height: 32px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99; 
}
.social-button:before {
    content: '';
    background-color: #000;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 102%;
    left: -118%;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59); 
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
    font-size: 18px;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59); 
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
    background-color: #3B5998;
}
.social-button.facebook .fa {
    color: #3B5998;
}
.social-button.twitter:before {
    background-color: #3CF;
}
.social-button.twitter .fa {
    color: #3CF;
}
.social-button.google:before {
    background-color: #DC4A38;
}
.social-button.google .fa {
    color: #DC4A38;
}
.social-button.dribbble:before {
    background-color: #F26798;
}
.social-button.dribbble .fa {
    color: #F26798;
}
.social-button.skype:before {
    background-color: #00AFF0;
}
.social-button.skype .fa {
    color: #00AFF0;
}
.social-button:focus:before, .social-button:hover:before {
    top: -10%;
    left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/*-- //social-icon --*/
/*-- //team --*/
/*-- testimonial --*/
.testimonial{
    background: url(../images/t1.jpg) no-repeat 0px 0px;
    padding: 4em 0;
    background-size: cover;
    position:relative;
}
.test-heading h3 {
    color: #fff;
}
.testimonial-top{
    text-align:center;
}
i.fa.fa-quote-right {
    font-size: 3em;
    color: #f16121;
}
.testimonial-top p {
    color: #ffffff;
    font-size: .9em;
    line-height: 2em;
    margin: 2em auto;
    width: 80%;
    letter-spacing: 1px;
    font-weight: 300;
}
.testimonial-top h5 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}
.testimonial-top h5 span{
    font-weight:300;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/right1.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background: url(../images/left1.png) no-repeat 0px 0px;
    left: -58px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
    width:100px;
    height:15px;
    background:#fff;
    display:inline-block;
    border-radius:30em;
    opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
    display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display:block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs {
        list-style: none;
    position: absolute;
    top: 106%;
    left: 46.3%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.slider-top span{
    font-weight:600;
}
.callbacks_tabs li {
    display:inline-block;
    margin: 0px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:11px;
    width:11px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
       background: #F44336;
}
/*-- //slider --*/
/*-- //testimonial --*/

/*-- contact --*/
.address-grid h4,.contact-form h4,.agileits-map h4{
    color: #212121;
    font-size: 1.3em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.address-grid ul{
    padding: 0;
    margin: 2em 0 0 0;
}
.address-grid ul li {
    display: block;
    color: #616161;
    font-size: .9em;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}
.address-grid ul li a{
    color:#616161;  
    text-decoration:none;
}
.address-grid ul li a:hover{
    color: #8BC34A;
}
i.fa.fa-phone{
    font-size: 1.5em;
    color: #bfdb39;
}
.contact-form{
    margin:2em 0 0 0;
}
.contact-form h4{
    margin-bottom:1em;
}
.contact-form p {
    color: #333;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 2em;
}
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.contact input[type="text"],.contact input[type="email"],.contact textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
    background: none;
    -webkit-appearance: none;
    outline: none;
}
.contact textarea { 
    min-height: 13em;
    resize: none;
} 
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #ff9900;
    top: -1.3em;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s; 
    -o-transition: all 0.125s;
    -ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
    width:100%;
    margin: 2em 0 1em;
    position: relative;
}
.styled-input label {
    color: #999999;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
    display: block;
    width: 0;
    height: 2px;
    background: #212121;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
    outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s;
    -moz-transition: all 0.075s;  
    transition: all 0.075s; 
} 
/*-- //input-effect --*/
.contact input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .6em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #f16121;
    border: 2px solid #f16121;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    background-color: transparent;
    color: #212121;
    background: none;
    border: 2px solid #212121;
}
.map-grid{
    margin:2em 0 0 0;
}
.map-grid iframe{
    width: 100%;
    height:572px;
    border: 0;
}
.wthree-banner-info h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 2em 0 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
/*-- //contact --*/
/* copyright */

.footer-agile {
    text-align: center;
    background: green;
    padding: 4em 0 2em;
}
.social li,.footer-nav li {
    display: inline-block;
    padding: 0 .5em;
}
.footer-logo h3 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 1em;
}
.social i.fa {
    font-size: 17px;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 31px;
    margin: 15px 0px;
    text-align: center;
    line-height: 14px;
}
.social i.fa:hover {
    color: yellow;
}
.footer-nav li {
    padding: .5em;
}
.footer-nav li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-right: 2px solid #fff;
    padding-right: 1em;
    text-decoration: none;
}
.footer-nav li a:hover {
    color: yellow;
}
.copyright-agile {
    text-align: center;
    padding: 1em 0;
    background: #151515;
}
.copyright-agile p {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}
.copyright-agile a {
    color: #f16121;
    text-decoration: none;
}
.copyright-agile a:hover {
    color: #ffffff;
}
.social {
    margin: 1em 0 0;
}
.footer-logo i.fa.fa-cutlery {
    color: #f16121;
}
/*-- //footer--*/
/* //copyright */

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 9999; 
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- /responsive design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
.w3_agile_header {
    padding: 2em 3em 0 0em;
    }
    .w3-position-menu-img1 {
    left: 0w3-position-menu-img%;
    }
}
@media(max-width:1080px){
.w3l_banner_info {
    width: 74%;
    margin: 10em auto 0;
    }
    .wthree_banner_info_grid h3 {
    font-size: 3.5em;
    }
    .banner {
    min-height: 650px;
    }
    .w3-menu1-left, .w3-menu1-left1, .w3-menu3-left3 {
    padding: 4em 10em 4em 3em;
    }
    .w3-menu1-left1 {
    padding: 4em 0em 6em 13em;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 11em;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3.5em;
    }
    .banner-right-agile {
    width: 43%;
    }
    .team-right {
    padding: 0.6em 2em;
    }
    .w3-menu1-left h3, .w3-menu1-left1 h3, .w3-menu3-left3 h3 {
    font-size: 1.7em;
    }
    .w3-agile-services-right img {
    margin: 3em 0 0 0;
    }
    .w3-position-menu-img img,.w3-position-menu-img2 img,.w3-position-menu-img1 img{
    width: 80%;
    }
    .w3-position-menu-img ,.w3-position-menu-img2{
    right: -60px;
    top: -11%;
    }
    .w3-position-menu-img1 {
    bottom: -3%;
    left: -1%;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 6em;
    }
    .wthree_banner_info_grid h3 {
    font-size: 3.3em;
    }
    .about, .services, .testimonial, .contact, .w3-food-menu, .gallery, .w3-orders, .team {
    padding: 4em 0;
    }
}
@media(max-width:1024px){
    .w3-position-menu-img img,.w3-position-menu-img1 img,.w3-position-menu-img2 img{
    width: 80%;
    }
    .w3-position-menu-img,.w3-position-menu-img2 {
    bottom: 2%;
   right: -26px;
    top: -10%;
    }
    .w3-position-menu-img1 {
    left: 0%;
    top: -4%;
    }
    .w3-menu1-left1 {
    padding: 4em 0em 6em 14em;
    }
    .w3-position-menu-img1 {
    top: -9%;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 7em;
    }
    .about, .services, .testimonial, .contact, .w3-food-menu, .gallery, .w3-orders, .team {
    padding: 3em 0;
    }
    div#testimonials {
    padding: 4em 0 5em 0;
    }
}
@media(max-width:991px){
.w3_agileits_logo h1 a span {
    width: 37%;
    }
    .w3l_banner_info {
    width: 100%;
    }
    .wthree_banner_info_grid h3 {
    font-size: 3em;
    }
    .w3l-about-img {
    width: 50%;
    float: left;
    }
    .w3l-about-left {
    width: 50%;
    float: left;
    }
    .w3-position-menu-img img,.w3-position-menu-img1 img {
    width: 70%;
    }
    .w3-menu1-left, .w3-menu1-left1, .w3-menu3-left3 {
    padding: 2em 23em 2em 3em;
    }
    .w3-position-menu-img {
    right: -32%;
    top: 8%;
    }
    .team-w3lsgrids {
    width: 50%;
    float: left;
    }
    .social-button {
    margin: 0 0px;
    }
    .w3-agile-services-right {
    width: 50%;
    float: left;
    }
    .banner-right-agile {
    width: 50%;
    }
    .w3-position-menu-img, .w3-position-menu-img2 {
    right: -17%;
    top: -8%;
    }
    .w3-position-menu-img1 {
    left: -14%;
    top: -6%;
    }
    .w3-position-menu-img2 img {
    width: 70%;
    }
    .w3-menu1-left1 {
    padding: 2em 8em 1em 19em;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 5em;
    }
    .team-left {
    float: none;
    width: 50%;
    }
    .team-right {
    float: right;
    width: 100%;
    }
    .testimonial-top {
    width: 100%;
    }
    .agile-contact-right {
    width: 50%;
    float: left;
    }
    .agile-contact-left {
    width: 50%;
    float: left;
    }
    .banner {
    min-height: 550px;
    }
    .w3l_banner_info {
    margin: 7em auto 0;
    }
    .testimonial-top {
    margin-bottom: 1em;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2.5em;
    }
    .w3-menu3-left3 {
    padding: 2em 26em 2em 3em;
    }
    .w3-position-menu-img2 {
    top: -3%;
    }
    i.fa.fa-quote-right {
    font-size: 2.5em;
    margin-top: 0.5em;
    }
    .w3-agile-services-right img {
    margin: 6em 0 0 0;
    }
}
@media(max-width:800px){
.w3l_banner_info {
    width: 74%;
    }
    .w3-position-menu-img img, .w3-position-menu-img2 img {
    width: 51%;
    }
    .w3-position-menu-img1 img {
     width: 51%;
    }
    .w3-position-menu-img, .w3-position-menu-img2 {
    right: -36%;
    top: 12%;
    }
    .wthree_banner_info_grid p {
    width: 95%;
    }
    .w3-position-menu-img1 {
    left: -2%;
    top: 12%;
    }
    .w3gallery-grids {
    width: 33.33%;
    padding: 0 5px;
    }
    .contact textarea {
    min-height: 8em;
    }
    .map-grid iframe {
    height: 500px;
    }
    .wthree_banner_info_grid h3 {
    font-size: 2.7em;
    }
    .agileits_w3layouts_banner_info p {
    font-size: 1.2em;
    }
    .w3-agile-services-right img {
    margin: 6em 0 0 0;
    }
    .w3-menu1-left, .w3-menu1-left1, .w3-menu3-left3 {
    padding: 3em 2em 3em 2em;
    }
    .w3-position-menu-img {
    position: static;
    text-align: center;
    }
    .w3-position-menu-img1 {
    position: static;
    text-align: center;
    }
    .w3-position-menu-img2 {
    position: static;
    text-align:center;
    }
    .w3-menu3-left3 {
    padding: 3em 2em 3em 2em;
    }   
    .w3-menu1-left1 {
    padding: 3em 2em 3em 2em;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 2em;
    }
    .w3-menu-grids {
    margin: 0;
    }
    .w3_agile_header {
    padding: 1.5em 3em 0 0em;
    }
    .about-agileits-title h3, .agile-heading h3, .agileits-title h3, .w3-contact-map h3, .test-heading h3, .w3-menu-head h3, .agileits-title-left h3, .w3-order-heading h3, .w3-team-title h3 {
    font-size: 2.5em;
    }
}
@media(max-width:768px){
.wthree_banner_info_grid h3 {
    font-size: 2.7em;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 2em;
    }
    .agileits_w3layouts_banner_info p {
    font-size: 1.2em;
    }   
    .callbacks_tabs {
    top: 103%;
    }
}
@media(max-width:736px){
.w3_agileits_logo h1 a span {
    width: 38%;
    }
    .w3-menu2-grid2, .w3-menu3-grid3 {
    margin-top: 2em;
    }
}
@media(max-width:667px){
.w3_agileits_logo h1 a span {
    width: 45%;
    }
    .w3-position-menu-img, .w3-position-menu-img2 {
    top: 15%;
    }
    .w3-position-menu-img1 {
    left: 2%;
    top: 16%;
    }
    .about-agileits-title h3, .agile-heading h3, .agileits-title h3, .w3-contact-map h3, .test-heading h3, .w3-menu-head h3, .agileits-title-left h3, .w3-order-heading h3, .w3-team-title h3 {
    font-size: 2.5em;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    .w3l-about-left {
    width: 100%;
    float: left;
    }
    .w3l-about-img {
    width: 100%;
    float: left;
    margin-top: 3em;
    }
    
    .w3-menu1-left h3, .w3-menu1-left1 h3, .w3-menu3-left3 h3 {
    font-size: 1.4em;
    }
    .w3-menu1-left p, .w3-menu1-left1 p, .w3-menu3-left3 p {
    font-size: 15px;
    }
    .w3-position-menu-img, .w3-position-menu-img2 {
    top: 10%;
    }
    
    .w3-position-menu-img1 {
    top: 10%;
    }
    .about, .services, .testimonial, .contact, .w3-food-menu, .gallery, .w3-orders, .team {
    padding: 3em 0;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2em;
    }
    .test-heading h3 {
    color: #fff;
    }
    i.fa.fa-quote-right {
    font-size: 2em;
    color: #f16121;
    }
    .contact textarea {
    min-height: 6em;
    }
    .testimonial-top p {
    margin: 1.5em auto;
    }
    .agileits_w3layouts_banner_info p {
    font-size: 1em;
    }
    .w3_agileits_logo h1 a {
    font-size: 1.3em;
    font-weight: 600;
    }
    .wthree_banner_info_grid h3 {
    font-size: 2.3em;
    }
    .w3_agile_header {
    padding: 1.4em 3em 0 0em;
    }
    sup {
    font-size: 1.5em;
    }
    .contact-form p {
    font-size: 0.9em;
    }
    .banner {
    min-height: 500px;
    }
    .wthree_banner_info_grid h3 {
    font-size: 2em;
    letter-spacing: 1px;
    }
}
@media(max-width:640px){
.w3-position-menu-img img, .w3-position-menu-img2 img {
    width: 44%;
    }
    .w3-position-menu-img, .w3-position-menu-img2 {
    right: -43%;
    top: 15%;
    }
    .agile-contact-right {
    width: 100%;
    float: left;
    }
    .agile-contact-left {
    width: 100%;
    float: left;
    }
    .map-grid iframe {
    height: 350px;
    }
    .w3_agile_header {
    padding: 1em 3em 0 0em;
    }
    .mobile-nav-button {
    margin: 1.7em 0em 0;
    }
    .flex-control-nav {
    top: 19%;
    }
    .w3-agile-services-right img {
    margin: 8em 0 0 0;
    }
    .mobile-menu {
    display: block;
    width: 25%;
    }
}
@media(max-width:600px){
.w3_agileits_logo h1 a span {
    width: 47%;
    }
    .w3l_banner_info {
    margin: 5em auto 0;
    }
    .w3-menu1-left p, .w3-menu1-left1 p, .w3-menu3-left3 p {
    font-size: 14px;
    }
    .w3-position-menu-img1 {
    top: 15%;
    }
    .w3-position-menu-img1 img {
    width: 44%;
    }
    .w3-position-menu-img1 {
    top: 18%;
    left: 6%;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1em;
    }
    .w3_agileits_logo h1 a span {
    width: 48%;
    }
    .banner-right-agile input[type="submit"] {
    width: 54%;
    }
}
@media(max-width:568px){
.w3_agileits_logo h1 a span {
    width: 52%;
    }
    .w3-position-menu-img {
    position: static;
    text-align: center;
    }
    .w3-position-menu-img img, .w3-position-menu-img2 img {
    width: 60%;
    }
    
    .w3-position-menu-img1 {
    position: static;
    }
    .w3-position-menu-img2 {
    position: static;
    text-align: center;
    }
    .w3-position-menu-img1 img {
    width: 60%;
    }
    .footer-nav li a {
    padding-right: 0.5em;
    }
    .banner-right-agile {
    width: 100%;
    }
.w3-agile-services-right {
    width: 100%;
    float: left;
    }
    .main-w3l {
    width: 80%;
    margin: 0 auto;
    }
    .w3-agile-services-right{
    text-align:center;
    }
    .w3-agile-services-right img {
    margin: 3em 0 0 0;
    width: 85%;
    }
    .about-agileits-title h3, .agile-heading h3, .agileits-title h3, .w3-contact-map h3, .test-heading h3, .w3-menu-head h3, .agileits-title-left h3, .w3-order-heading h3, .w3-team-title h3 {
    font-size: 2em;
    }
    .w3l-about-left h2 {
    font-size: 25px;
    }
    .footer-logo h3 {
    font-size: 30px;
    }
    .banner {
    min-height: 400px;
    }
}
@media(max-width:480px){
.w3_agileits_logo h1 a span {
    width: 60%;
    }
    .w3_agileits_logo h1 a {
    font-size: 1.2em;
    }
    .w3_agile_header {
    padding: 1.2em 3em 0 0em;
    }
    .wthree_banner_info_grid h3 {
    font-size: 2em;
    letter-spacing: 3px;
    }
    .wthree_banner_info_grid p {
    width: 100%;
    }
    .banner {
    min-height: 500px;
    }
    .wthree_banner_info_grid p {
    font-size: 0.9em;
    }
    .about-agileits-title h3, .agile-heading h3, .agileits-title h3, .w3-contact-map h3, .test-heading h3, .w3-menu-head h3, .agileits-title-left h3, .w3-order-heading h3, .w3-team-title h3 {
    font-size: 2em;
    }
    .about, .services, .testimonial, .contact, .w3-food-menu, .gallery, .w3-orders, .team {
    padding: 2em 0;
    }
    .w3l-about-left h2 {
    letter-spacing: 2px;
    font-size: 23px;
    }
    .w3_agileits_logo h1 a span {
    letter-spacing: 7px;
    }
    .w3gallery-grids {
    width: 50%;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2em;
    }
    .team-left {
    float: left;
    width: 50%;
    }
    .team-right {
    float: right;
    width: 100%;
    }
    .team-w3lsgrids {
    width: 100%;
    float: left;
    }
    .w3_agileits_logo h1 a span {
    width: 52%;
    }
    .mobile-menu {
    width: 36%;
    }
    .team-info.team-row2 {
    margin-top: 1em;
    }
    .team-w3lsgrids {
    margin-bottom: 2em;
    }
    .footer-nav li a {
    font-size: 14px;
    }
    .footer-logo h3 {
    font-size: 30px;
    }
    .w3_agileits_logo h1 a span {
    width: 57%;
    }
    .testimonial {
    min-height: 835px;
    }
    .w3-agile-services-right {
    text-align: center;
    }
    .callbacks_tabs {
    top: 100%;
    left: 44.3%;
    }
    .w3_agileits_logo h1 {
    font-size: 24px;
    }
    .w3_agileits_logo h1 a span {
    width: 46%;
    letter-spacing: 4px;
    }
    .wthree_banner_info_grid h3 {
    font-size: 1.6em;
    letter-spacing: 1px;
    }
    .banner {
    min-height: 400px;
    }
}
@media(max-width:414px){
.w3_agileits_logo h1 a span {
    letter-spacing: 4px;
    }
    .main-w3l {
    width: 100%;
    margin: 0 auto;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1em;
    }
    .w3gallery-grids {
    width: 100%;
    }
    [class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 5em;
    }
    sup {
    font-size: 1.5em;
    }
    .agileits_w3layouts_banner_info p {
    font-size: 0.9em;
    }
    .footer-nav li a {
    font-size: 15px;
    }
    .w3_agile_header {
    padding: 1.2em 4em 0 0em;
    }
    .w3_agileits_logo h1 a span {
    width: 59%;
    }
    .w3-menu1-left h3, .w3-menu1-left1 h3, .w3-menu3-left3 h3 {
    font-size: 1.3em;
    }
    .w3-agile-services-right img {
    width: 100%;
    }
    .w3l_banner_info {
    margin: 4em auto 0;
    }
}
@media(max-width:384px){
.w3_agileits_logo h1 a span {
    letter-spacing: 4px;
    width: 57%;
    }
    .wthree_banner_info_grid h3 {
    font-size: 1.8em;
    letter-spacing: 2px;
    }
    .w3_agileits_logo h1 {
    font-size: 29px;
    }
    .w3_agileits_logo h1 a span {
    letter-spacing: 2px;
    width: 51%;
    }
    .w3_agileits_logo h1 a span {
    font-size: 14px;
    }
    i.fa.fa-phone {
    font-size: 1em;
    color: #bfdb39;
    }
    .w3_agileits_logo {
    margin-top: 3em;
    }
    .mobile-nav-button {
    width: 32px;
    height: 43px;
    }
    .w3-menu1-left, .w3-menu3-left3 {
    padding: 4em 0em 4em 1em;
    }
    .testimonial {
    min-height: 921px;
    }
    .footer-nav li a {
    font-size: 15px;
    }
    .w3_agileits_logo h1 a {
    font-size: 1em;
    }
    .w3_agile_header {
    padding: 1.2em 3em 0 0em;
    }
    .about, .services, .testimonial, .contact, .w3-food-menu, .col-md-3, .w3-orders, .team {
    padding: 1em 0;
    }
    sup {
    font-size: 1.2em;
    }
    .w3_agile_header {
    padding: 1.2em 0em 0 0em;
    }
    .mobile-nav-button {
    margin: 1.6em 0em 0;
    }
    .mobile-nav-button {
    width: 29px;
    height: 29px;
    }
    .mobile-nav-button .mobile-nav-button__line {
    width: 18px;
    height: 2px;
    margin: .2em auto;
    }
    .w3l_banner_info {
    margin: 2em auto 0;
    }
    .wthree_banner_info_grid p {
    font-size: 1em;
    letter-spacing: 1px;
    }
    .wthree_banner_info_grid h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    }
}
@media(max-width:375px){
.mobile-nav-button {
    margin: 1.8em 0em 0;
    }
    .about-agileits-title h3, .agile-heading h3, .agileits-title h3, .w3-contact-map h3, .test-heading h3, .w3-menu-head h3, .agileits-title-left h3, .w3-order-heading h3, .w3-team-title h3 {
    font-size: 1.8em;
    }
}
@media(max-width:320px){
.w3_agileits_logo h1 a span {
    letter-spacing: 2px;
    width: 61%;
    }
    .wthree_banner_info_grid h3 {
    font-size: 1.6em;
    letter-spacing: 2px;
    }
    .w3l_banner_info {
    margin: 3em auto 0;
    }
    .w3-menu1-left h3, .w3-menu1-left1 h3, .w3-menu3-left3 h3 {
    font-size: 1.2em;
    }
    .testimonial {
    min-height: 968px;
    }
    .wthree_banner_info_grid p {
    letter-spacing: 1px;
    }
    .wthree_banner_info_grid h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    }
    .flex-control-nav {
    top: 11%;
    }
    .banner {
    min-height: 440px;
    }
    .w3l-about-left h5 {
    font-size: .9em;
    letter-spacing: 0.5px;
    }
    .w3-menu1-left, .w3-menu3-left3 {
    padding: 2em 0em 2em 1em;
    }
    .w3-menu1-left h3, .w3-menu1-left1 h3, .w3-menu3-left3 h3 {
    font-size: 1em;
    }
    .mobile-nav-button {
    width: 29px;
    height: 29px;
    }
    .mobile-nav-button .mobile-nav-button__line {
    width: 18px;
    height: 2px;
    margin: .2em auto;
    }
    .mobile-nav-button {
    margin: 1.6em 0em 0;
    }
    .banner-text h3 {
    font-size: 20px;
    }
    .footer-agile {
    padding: 2em 0 2em;
    }
    .footer-nav li a {
    font-size: 14px;
    }
    .w3-menu1-left p, .w3-menu1-left1 p, .w3-menu3-left3 p {
    font-size: 13px;
    }
    .w3l_banner_info {
    width: 86%;
    }
    .wthree_banner_info_grid p {
    letter-spacing: 1px;
    font-size: 0.9em;
    }
    .copyright-agile p {
    font-size: 0.9em;
    letter-spacing: 1px;
    }
    .footer-logo h3 {
    font-size: 22px;
    }
}
/*-- /responsive design --*/

